/* Style.css */ 

  #fruit-basket {
		font-family: "Arial";
		font-size: 20px;
		border-style: solid;
		border-width: 1px;
		border-color: #000000;
		border-radius: 60px;
		height: 60px;
		width: 258px; /*258px;*/
		/*text-align: center;*/
		padding-left: 50px;
		padding-top: 8px;
		margin: auto;
		margin-top: 120px;
	}
	#apple {
		color: rgb(255,0,0); 
		font-size: 1.2em; /* 28px;*/
	}
	#orange {
		color: #ffa500; /* orange is also a color, haha! */
		font-size:  1.6em; /* 36px; */
	}
	#grape {
		color: purple;
		font-size: 0.8em; /* 20px; */
	}
