/* For Instructors: Please type in CSS during lesson */

/*h1 {
  color: red;
}

p {
  color: blue;
  font-family: Helvetica;
  font-size: 16px;
}

ul li {
  background-color: yellow;
}
*/


/* h2 { 
  font-size: 20px; 
} */

/* h3 {
    background-color: green;
    font-size: 2px;
} */
